main{
    display: flexbox;
    max-width: 400px;
    padding: 10px;
    background-color: #192229;
}
  
h1{
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    padding-bottom: .2em;
}
  
form > div{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
  
form img{
    width: 200px;
    border-radius: 50%;
    border: 6px solid #192229;
}
  
form div:first-child{
    align-items: center;
}
  
form div:first-child input{
    display: none;
}
  
form div:first-child label{
    background: #212E36;
    color: white;
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 3px;
}
  
form input{
    padding: 8px 20px;
    border: 1px solid #AAA;
    border-radius: 3px;
}

form button{
    padding: 10px 20px;
    border: none;
    width: 50%;
    background: #36551F;
    color: white;
    border-radius: 3px;
}